
#nav,nav
{
	display:block;
	clear:both;
	font-size:16px;	
	letter-spacing:1px;
	margin: 40px auto;
	font-family: 'helvetica'
	
	}
	#nav ul,nav ul
	{
		float:left;
		position:relative;
		margin:0;
		padding:0;
		border:0;
		list-style-type:none;
		clear:both;
		display:block;
		font-family:Arial;
		width:100%;
		background: #bfbfbf; /* Old browsers */
		background: -moz-linear-gradient(top,  #bfbfbf 1%, #a0a0a0 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#bfbfbf), color-stop(100%,#a0a0a0)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #bfbfbf 1%,#a0a0a0 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #bfbfbf 1%,#a0a0a0 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #bfbfbf 1%,#a0a0a0 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #bfbfbf 1%,#a0a0a0 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfbfbf', endColorstr='#a0a0a0',GradientType=0 ); /* IE6-9 */

		border-radius:5px;
		border-bottom: #d1d1d1 solid 3px ;
	
		 /* border: thin gray solid;*/
		
	}
#nav ul li,nav ul li
{
			float:left;
			position:relative;
		/*	border-right:solid thin gray; */
			margin:0;
			padding:0 0.5em;
	}
#nav ul li:first-child,nav ul li:first-child
{
	padding-left:1em
	}
#nav ul li:last-child,nav ul li:last-child
{
	border-right:none
}
#nav ul li:hover ul,nav ul li:hover ul
{
	top:99%;
	left:0;
	display:block;
	position:absolute
}
#nav ul li a,nav ul li a
{
	text-decoration:none;
	display:inline-block;
	padding:0.5em 0.5em; 
	color:white;
	/* text-shadow:1px 2px 1px #26313f;*/
	/* word-wrap:break-word; */
	text-transform:capitalize
}
#nav ul li a:hover,#nav ul li a:active,nav ul li a:hover,nav ul li a:active
{
	-webkit-transition:background 200ms ease-in 50ms;
	background-color:#26313f;
	color:#e1e7ed;
	text-decoration:none
	}
#nav ul li a:active,nav ul li a:active
{
		box-shadow:inset 0 0 0.7em #1b242d;
}
#nav ul li ul,nav ul li ul
{
	display:none;
	width:auto;
	z-index:98;
	background-color:#2c3a4a
}
#nav ul li ul li,nav ul li ul li
{
	width:100%;
	border:none;
	clear:both
	}
#nav ul li ul li:first-child,nav ul li ul li:first-child
{
	padding:0
}
#nav ul li ul li:hover,nav ul li ul li:hover
{
	width:100%;
	-webkit-transition:background 200ms ease-in 50ms;
	background:#26313f;
	z-index:99
	}
#nav ul li ul li:active,nav ul li ul li:active
{
	box-shadow:inset 0 0 0.7em #1b242d
}
#nav ul li ul li:last-child,nav ul li ul li:last-child
{
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px
	}
#nav ul li ul li a:hover,#nav ul li ul li a:active,nav ul li ul li a:hover,nav ul li ul li a:active
{
	background:none;
	box-shadow:none
}

@media screen and (max-width: 780px){
	#nav,nav
	{
		left:0.81306%;
		right:0.81306%
	}
	#nav ul:before,nav ul:before
	{
		float: left;
		content:"Navigation";
		color:white;
		line-height:58px;
		text-indent:70px;
		display:inline-block;
		background:url(../img/gen_images/arrow_down.svg) no-repeat 4%;
		z-index:98
	}
#nav ul:hover li,nav ul:hover li
		{
		text-indent:0;
		margin-top:0;
		height:100%;
		max-height:9999px;
		-moz-transition:max-height 4000ms ease-in-out;
		-webkit-transition:max-height 4000ms ease-in-out;
		transition:max-height 4000ms ease-in-out
		}
		#nav ul li,nav ul li
		{
			padding:0.81306% 0;
			height:0;
			min-height:0;
			margin-top:-70px;
			text-indent:-9999px;
			border-right:none;
			width:100%
			}
		#nav ul li a,nav ul li a
		{
			display:block
		}
		#nav ul li ul:before,nav ul li ul:before
		{
			display:none
		}
		#nav ul li:first-child,nav ul li:first-child
		{
			padding-left:0
		}
		#nav ul li:hover ul,nav ul li:hover ul
		{
			top:0;
			margin-left:30.1966%;
			margin-top:2.12862%;
			width:69.8034%;
			border-radius:0px
			}
		#nav ul li:hover ul li,nav ul li:hover ul li
		{
			width:100%
		}
		#nav ul li ul li:first-child,nav ul li ul li:first-child
		{
			margin:0;padding:0
		}
		.mobile_close
		{
			content:"";
			display:inline-block;
			
			height:44px;
			width:44px;
			position:relative;
			top:66px;
			float:right;
			margin-right:2%;
			margin-top:-3em;
			padding-left:9.01699%;
			z-index:99
			}
		}
