@media screen and (min-width:780px){

	#tabs
	{
				margin: 0 auto;
	}
	#tabs #tab
	{
		display: inline-block;
		vertical-align: top;
		text-align: center;
		width: 32%;

	}
	section#slider-video{ }
	section#slider-video #slider_box {display: inline-block; vertical-align: top; width: 50%;}
	section#slider-video #caja-video {  display:inline-block; vertical-align: top; width: 47%; position: relative; left: 10px ;}
}


