@media screen and (min-width:780px){

	aside
	{
		display: inline-block;
		float: right;
		width: 33%;
		margin: 1em 0 0 0;
		
	}


	#icono-chat
	{
		position: relative;
		right: 10px ;
		
	}




	body
	{ 
	    background-attachment: fixed; 
		background-image: url('../img/fondo.png') ;
		font-family: helvetica; 
		padding-bottom: 1em; 
		width: 100%; 
 	}

 	.contenido-secundario 
 	{
 		width: 65%;
 	}

 	.contenido-terciario
 	{
 		width: 65% ;
 	}
	#tabs
	{
		margin: 0 80px;
	}
	#tabs #tab
	{
		display: inline-block;
		vertical-align: top;
		text-align: center;
		width: 32%;

	}
	section.contenido-terciario .item-complementos
	{
	background: #ffb800; 	 
	border-radius: 10px; 
	display: inline-block;
	font-size: 16px; 
	font-weight: normal; 
	margin: 0.5em ;		 
	padding: 0.5em; 
	vertical-align: ;	
	text-align: right;
	}
	section.contenido-terciario .item-complementos a
	{
		text-decoration: none;
		color: white;
	}

	section #venta-nuevos 
	{
		display: inline-block; vertical-align: top;
	} 

	.fright
	{
	 	float: right;
	}

	section.chat-contactanos
{
	
	text-align: left;
	
}

	section.chat-contactanos a, section.chat-contactanos p
{
	
	display: inline-block;
	margin-right: 100px;
	color: white;
	
}

#form-box
{
		
		text-align: left;
		
}

#form-box form input
{
		background: white ; 
		border-radius: 10px; 
		padding: 0.1em;
		margin: 0 0 1em 0;
		max-width: 250px;
		width: 100%;
		padding: 0.3em 0;
		
}

textarea 
{
	max-width: 500px;
	width: 100%;
}

section.chat-contactanos a
{	
	display: inline;
	margin-right: 0.5em
	


}
	
	section#slider-video #slider_box 
	{
		display: inline-block;
		vertical-align: top; 
		width: 50%;
	}
	section#slider-video #caja-video 
	{  
		display:inline-block; 
		vertical-align: top; 
		width: 47%; 
		position: relative; 
		left: 10px ;
	}

.cajadevideo
{
	margin-top:0.5em;
}
	.slider-box2
	{
		width: 65%;
	}	

	header 
	{
	  	
	  	display: block;
	  	padding: 1em;
	  	box-sizing:border-box;
	  	background: -webkit-linear-gradient(left, #001882 , #001882, white 100% ); /* For Safari */
		background: -o-linear-gradient(right, #001882, #001882, white 100%); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(right, #001882, #001882,white 100%); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to right, #001882 , #001882, white 100%); /* Standard syntax */
		
	text-align: left;

	}

header #logo

{ 
	
	 width: 400px; 
	 display: inline-block;
}

header #logo img 

{
	max-width: 400px;
	width: 100%;	
	margin:0;
	text-align: left;
	padding: 0.5em;
	box-sizing:border-box;
}

figure#sublogo
{
	
	vertical-align: top; 
	
	float: right;
	margin-top: 3em;
}
figure#sublogo img
{
	
	max-width: 150px;
	width: 100%;
}








}


