*
{
	border:0; 
	margin:0; 
	padding:0;
}
html
{ 
	
}

@font-face {
    font-family: 'bitsumishiregular';
    src: url('../fonts/bitsumis.eot');
    src: url('../fonts/bitsumis.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bitsumis.woff') format('woff'),
         url('../fonts/bitsumis.ttf') format('truetype'),
         url('../fonts/bitsumis.svg#bitsumishiregular') format('svg');
    font-weight: normal;
    font-style: normal;  }

#logo
{
	margin:20px 0 0 0;
}
/* .main
{ 
	
	margin: 0.1em auto;
	text-align: center;
	padding: 0; 
	max-width: 100%;
	border: solid 1px black;
} */
.slider-box
{ 
	
	display: inline-block;
	margin:0 30px 10px 0;
	padding:0.2em;
	width: 50%;
}

.article-box
{
	background:gray;
	display:inline-block;
	vertical-align: top;
	width:33%;
}
.span-logo
{
	font-size: 57px;
	margin: 0;
}
.logo
{ 
	width: 150px;

}
.right
 {
 	float: right;
 	margin-right: 20px;
 	margin-top:25px;
 }

.video
{
	height:0px;
	max-width:560px;
	padding-top:56.25%;
	position:relative;
	width:100%;
}





body
{ 
   background-attachment: fixed; 
	background-image: url('../img/fondo.png');
	font-family: helvetica; 
	padding-bottom: 1em; 
	width: 100%; 
	

 }
h1  
{ 

}

/*
 header
{
	background: -webkit-linear-gradient(90deg, #001882 , #FFFFFF 100%); 
	background: -o-linear-gradient(90deg, #001882 , #FFFFFF 100%); 
	background: -moz-linear-gradient(90deg, #001882 , #FFFFFF 100%); 
	background: linear-gradient(90deg, #001882 , #FFFFFF 100%); 
	border-radius: 10px;	
	margin:0 auto;
	margin-bottom: 15px;
	width: 95%;
}
header #barra_amarilla
{ 
	background:#ffb800; 
	border-radius:0 0 10px 10px; 
	color: #001790; 
	font-size: 18px;
	font-weight:bold; 
	margin: 1em 0 0 0; 
	text-align: center; 
	padding: 0.5em;
}
header figure, header h1 
{ 
	display:inline-block; 
	vertical-align: top;
}
header h1 span
{ 
	color: white;
	position: relative;
	bottom: 0.1em ;
	border-top: solid 3px  #4ba0e3;;
	font-size: 60px ;
	padding: 0;
	margin: 0 0 0 0;
}
header #logo
 {
 	margin: 2em 0 0 1em;
 	width: 200px; 
 	border: solid 3px black;
 }
header #logo-liugong  
{
	float: right; 
	margin: 4.5em 4.5em 0 0; 
}
header #logo-genie  
{
	float: right; 
	margin: 4.5em 2em 0 0; 
}
header figure img 
{ 
	width: 200px;
} 
*/
.cajadevideo{

    max-width:1200px;
    margin:auto;
    border: 3px solid black;

}

.video{

    height:0px;
    width:100%;
    max-width:1200px;
    padding-top:56.25%;
    position:relative;

}

iframe{

    position:absolute;
    height:100%;
    width:100%;
    top:0px;
    left:0px;

}
article#tabs figure .tabs
{ 
	width: 100%; 
	max-width: 1200px;
	text-align: center;

}

article#tabs 
{
	margin: 0 auto;
	border: 3px solid black ;
	text-align: center;
}
article figure .subtitle

{ 
	background: red;
	max-width: 1200px;
	margin: 0 auto; 
	padding: 0; 
	vertical-align: top;
	text-align: center;
}
}

img.sub-logos
{ 
	max-width: 100%; 
	width: 150px;
}
nav 
{
	
	
	padding: .2em; 
	margin: 100px 100px: ;
	text-decoration:none;
	width: 100%;
	height: 20px; 
	font-size: 15px ;
	text-align: center;
}

figure 
{
	padding: .5em 0 0 0;
}
footer
{
	background: #002e6f;
	color: white; 
	margin: 0 auto; 
	text-align: center; 
	
	padding: 1em;
}
footer .grid
{
	box-sizing:border-box;
	display:inline-block;
	margin: 0 10px;
	padding:.1em;
	vertical-align:top;
}

footer .grid article
{
	border: 1px solid black;
}
footer .grid ul li 
{
	padding: 0 0 0 1.5em;
	background: url('../img/nike.png') center left no-repeat;
	text-align: left;
}
footer .grid article figure
{
	display: inline-block;
	vertical-align: top;
}
footer p 
{
	margin: 10px 20px 15px 0;	
	text-align: center;
	font-weight: bold;
}
footer ul, footer ul li a 
{ 
	background: none; 
	color: white ; 
	list-style-type:none; 
	text-align: center; 
	text-decoration: none;
	font-size: 12px;
}

section.contenido
{
	width: 80%;
	margin: 0 auto ;
	background: white;
	padding: 1em;
}

